<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Gala Institut{% endblock %}</title>
        <link rel="icon" href="{{ absolute_url(asset('build/images/elephant.png')) }}">
        <meta name="keywords" content="Roatary, Zone 22 "  />
        <meta name="description" content="Diner-gala de l'Institut" />
        <meta name="revisit" content="7 days" />
        <meta name="revisit-after" content="7 days">
        <meta name="Author" content="Rotary Zone 22, Delrodie AMOIKON">
        <meta name="Copyright" content="rotaryabidjanbietry.org">
        <meta name="Content-Language" content="FR">
        <meta name="distribution" content="global" />
        <meta name="Audience" content="All" />
        <meta name="Robots" content="full">

        <link rel="canonical" href="http://institue2022.rotaryabidjanbietry.org/" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Diner gala de l'Institut 2022" />
        <meta property="og:description" content="Rotary Zone 22: Diner gala de l'Institut 2022" />
        <meta property="og:url" content="http://institue2022.rotrayabidjanbietry.org/" />
        <meta property="og:site_name" content="Rotary Zone 22" />
        <meta property="article:section" content="Item" />
        <meta property="article:published_time" content="2018-01-20T15:25:59+00:00" />
        <meta property="og:image" content="{{ absolute_url(asset('build/images/elephant.png')) }}" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="Rotary Zone 22: Diner gala de l'Institut 2022"/>
        <meta name="twitter:title" content="Diner gala de l'Institut 2022"/>
        <meta name="twitter:domain" content="http://institue2022.rotaryabidjanbietry.org/"/>
        <meta name="twitter:image:src" content="{{ absolute_url(asset('build/images/elephant.png')) }}"/>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block logo %}
                <div class="brand">
                    <nav class="navbar navbar-expand-lg white sticky-top">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="{{ asset('build/images/logo.png') }}" alt="Logo" class="img-fluid">
                            </a>
                        </div>
                    </nav>
                </div>
            {% endblock %}
            {% block body %}{% endblock %}
        </div>


        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.cinetpay.com/seamless/main.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
